apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-api-adapter-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ml-api-adapter-service
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ml-api-adapter-service
    spec:
      containers:
      - name: service
        image: mojaloop/ml-api-adapter:v11.1.4
        command:
        - node
        - src/api/index.js
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: ml-api-adapter-service
        readinessProbe:
          initialDelaySeconds: 120
          httpGet:
            path: /health
            port: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
