apiVersion: apps/v1
kind: Deployment
metadata:
  name: centralsettlement
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: app
        command: [node, src/api/index.js]
        image: mojaloop/central-settlement:v12.0.3
        ports:
        - containerPort: 3007
        envFrom: [] # Having this here, but empty, allows us to patch it
        env:
        - name: LOG_LEVEL
          value: info
        - name: CSL_LOG_TRANSPORT
          value: console
        # TODO: database-related env vars should definitely not be set here; they should be set in
        # a kustomization.yaml
        - name: CSET_DATABASE__SCHEMA
          valueFrom:
            configMapKeyRef:
              name: centralledger-mysql
              key: MYSQL_DATABASE
        - name: CSET_DATABASE__USER
          valueFrom:
            configMapKeyRef:
              name: centralledger-mysql
              key: MYSQL_USER
        - name: CSET_DATABASE__HOST
          valueFrom:
            configMapKeyRef:
              name: centralledger-mysql
              key: MYSQL_SERVICE
        - name: CSET_DATABASE__PASSWORD
          valueFrom:
            secretKeyRef:
              name: centralledger-mysql
              key: MYSQL_PASSWORD
        readinessProbe:
          httpGet:
            path: /v2/health
            port: 3007
            scheme: HTTP
        livenessProbe:
          httpGet:
            path: /v2/health
            port: 3007
            scheme: HTTP
