resources:
  - deployments.yaml
  - services.yaml
  - ./mysql
  - ./handlers/admin-transfer
  - ./handlers/timeout
  - ./handlers/transfer-fulfil
  - ./handlers/transfer-get
  - ./handlers/transfer-position
  - ./handlers/transfer-prepare
  - ../kafka

configMapGenerator:
  - name: mysql
    behavior: merge
    literals:
      - MYSQL_DATABASE=central_ledger
      - MYSQL_USER=central_ledger

secretGenerator:
  - name: mysql
    behavior: merge
    literals:
      - MYSQL_PASSWORD=oyMxgZChuu
      - MYSQL_ROOT_PASSWORD=2dMJTrx8y9
      - XTRABACKUP_PASSWORD=4WHuZ4xTLq

patches:
  - target:
      kind: Deployment
      name: centralledger-service
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ignored
      spec:
        template:
          spec:
            containers:
              - name: centralledger-service
                env:
                  - name: CLEDG_DATABASE__SCHEMA
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_DATABASE
                  - name: CLEDG_DATABASE__USER
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_USER
                  - name: CLEDG_DATABASE__HOST
                    value: cl-mysql
                  - name: CLEDG_DATABASE__PASSWORD
                    valueFrom:
                      secretKeyRef:
                        name: mysql
                        key: MYSQL_PASSWORD
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__POSITION__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__POSITION__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__GET__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__PROCESSING__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__BULK__PROCESSING__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__GET__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__ADMIN__TRANSFER__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__ADMIN__TRANSFER__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
            initContainers:
              - name: run-migration
                env:
                  - name: CLEDG_DATABASE__SCHEMA
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_DATABASE
                  - name: CLEDG_DATABASE__USER
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_USER
                  - name: CLEDG_DATABASE__HOST
                    value: cl-mysql
                  - name: CLEDG_DATABASE__PASSWORD
                    valueFrom:
                      secretKeyRef:
                        name: mysql
                        key: MYSQL_PASSWORD
  - target:
      kind: Deployment
      name: centralledger-handler-.*
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ignored
      spec:
        template:
          spec:
            containers:
              - name: handler
                env:
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__POSITION__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__POSITION__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__GET__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__PREPARE__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__PROCESSING__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__BULK__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__BULK__PROCESSING__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__GET__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__TRANSFER__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__TRANSFER__FULFIL__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__CONSUMER__ADMIN__TRANSFER__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_KAFKA__PRODUCER__ADMIN__TRANSFER__config__rdkafkaConf__metadata.broker.list
                    value: kafka:9092
                  - name: CLEDG_DATABASE__SCHEMA
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_DATABASE
                  - name: CLEDG_DATABASE__USER
                    valueFrom:
                      configMapKeyRef:
                        name: mysql
                        key: MYSQL_USER
                  - name: CLEDG_DATABASE__HOST
                    value: cl-mysql
                  - name: CLEDG_DATABASE__PASSWORD
                    valueFrom:
                      secretKeyRef:
                        name: mysql
                        key: MYSQL_PASSWORD
            # initContainers:
            #   - name: wait-for-mysql
            #     command:
            #     - sh
            #     - -c
            #     - until result=$(mysql -h cl-mysql -P 3306 -u $(MYSQL_USER)
            #       --password=$(MYSQL_PASSWORD)  $(MYSQL_DATABASE) -ss -N -e 'select is_locked from
            #       migration_lock;') && eval 'echo is_locked=$result' && if [ -z $result
            #       ]; then false; fi && if [ $result -ne 0 ]; then false; fi; do echo waiting
            #       for MySQL; sleep 2; done;
            #     image: mysql:latest
            #     imagePullPolicy: Always
            #     envFrom:
            #       - configMapRef:
            #           name: mysql
            #       - secretRef:
            #           name: mysql
            #   - command:
            #     - sh
            #     - -c
            #     - until ./bin/kafka-broker-api-versions.sh --bootstrap-server kafka:9092;
            #       do echo waiting for Kafka; sleep 2; done;
            #     image: solsson/kafka:latest
            #     imagePullPolicy: Always
            #     name: wait-for-kafka
