apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-api-adapter-notification-handler
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ml-api-adapter-notification-handler
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ml-api-adapter-notification-handler
    spec:
      containers:
      - name: ml-api-adapter-notification-handler
        image: mojaloop/ml-api-adapter:v11.0.1
        command:
        - node
        - src/handlers/index.js
        - handler
        - --notification
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: ml-api-adapter-notification-handler
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
